/*
 * Configuração geral
 */

* {
    box-sizing: border-box;
}

:root {
    --item-height: 140px; /* aumentei os itens */
}

body {
    margin:0;
    background-color:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/*
 * Container do slot
 */

#container{
    background-color:#fd9b03;
    padding:60px;
    box-shadow:0 10px 30px rgba(0,0,0,0.7);
    border-radius:15px;
}

/*
 * Botão girar
 */

.start-button{
    display:block;
    margin:30px auto 0 auto;
    padding:20px 70px;
    font-size:28px;
    font-weight:bold;
    border:none;
    border-radius:12px;
    cursor:pointer;
    color:white;
    background:linear-gradient(45deg,#ff0000,#ff8800);
    box-shadow:0 5px 15px rgba(0,0,0,0.5);
    transition:0.2s;
}

.start-button:hover{
    transform:scale(1.1);
}

/*
 * Janela do slot
 */

.window{
    position:relative;
    overflow:hidden;
    height:calc(3 * var(--item-height));
}

.window::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:200%;
    height:6px;
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.4),transparent);
}

.window::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:200%;
    height:6px;
    background-image:linear-gradient(to bottom,transparent,rgba(0,0,0,0.4));
}

.window-border{
    padding:8px;
    background-image:linear-gradient(to bottom,#fcf8ad,#f8f3cd,#f9e13d);
    box-shadow:0 6px 4px -5px #eca654 inset;
}

/*
 * Reels
 */

.icon{
    width:110px;
    height:var(--item-height);
    display:block;
    position:relative;
}

.outer-col{
    overflow-y:hidden;
    width:140px; /* coluna maior */
    float:left;
    background-color:#eee;
    background-image:linear-gradient(#16013c,#741a5e,#430155,#16013c);
    height:calc(var(--item-height) * 3);
}

.outer-spacer{
    width:10px;
    height:100%;
    float:left;
    border-right:2px solid #f7ce6c38;
    background-image:linear-gradient(#be4d01,#893802);
}

.col{
    padding:0 15px;
    will-change:true;
    transform:translateY(calc(-100% + var(--item-height) * 3));
}

.col img{
    width:100%;
    height:auto;
    margin:10px 0;
    position:relative;
    z-index:3;
}

/* sombra atrás dos símbolos */

.col .icon::after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    width:1px;
    height:1px;
    background-color:white;
    box-shadow:0 0 35px 30px rgba(12,0,14,0.69);
    z-index:2;
    border-radius:100%;
}

/*
 * Animação
 */

#container.spinning .outer-col:nth-of-type(2) .col{
    animation-delay:0.01s;
}

#container.spinning .outer-col:nth-of-type(3) .col{
    animation-delay:0.02s;
}

#container.spinning .outer-col:nth-of-type(4) .col{
    animation-delay:0.03s;
}

#container.spinning .col{
    animation-name:scroll;
    animation-iteration-count:1;
    animation-timing-function:cubic-bezier(.65,.97,.72,1);
}

@keyframes scroll{
    to{
        transform:translateY(0);
    }
}
